{% extends 'base.html.twig' %}

{% block title %}Hello AnalysisController!{% endblock %}

{% block body %}
<div "main-container-analysis-page">
    <h1>Analysis</h1>
    {% for viewLine in viewGraphFiveDim %}
                <div>
                    <div>
                        <h3>Nom du genre : {{viewLine.label}}</h3>
                        <p>Nombre de jeux : {{viewLine.nbGames}}</p>
                        <p>Note moyenne : {{viewLine.avgReviewScore}}</p>
                    </div>
                </div>
    {% endfor %} 
    <div class="graphFiveDim-container">
        <canva>{{render_chart(chart)}}</canva>
    </div>      
</div>
{% endblock %}
