{% extends 'base.html.twig' %}

{% block title %}Hello SourcesController!{% endblock %}

{% block body %}
    <h1>Sources and sitography</h1>
    <h2>Original data</h2>
        <p>Links to data and collection sites:</p>
        <ul>
            <li><a href = https://www.kaggle.com/datasets/joebeachcapital/top-1000-steam-games> Top-1000-steam-games on Kaggle</a></li>
            <li><a href = https://gamalytic.com/game-list> Steam game list on gamalytic</a></li>
            <li><a href = https://gamalytic.com/genres>Videos games genres data on gamalytic</a></li>
        </ul>
        </br>
    <h2>Understanding the subject</h2>
        <ul>
            <li><a href = https://businessmodelanalyst.com/fr/mod%C3%A8le-%C3%A9conomique-de-la-vapeur/#A_brief_history_of_Steam> Fonctionnement de l'écosystème Steam</a></li>
        </br>
        </ul>
    <h2>Documentation</h2>
        <p>learning and mastering technologies</p>
        <ul>
            <li><a href = https://openclassrooms.com/fr/courses/918836-concevez-votre-site-web-avec-php-et-mysql> Cours openclassrooms base PHP</a></li>
            <li><a href = https://openclassrooms.com/fr/courses/1665806-programmez-en-oriente-objet-en-php> Cours openclassrooms POO PHP</a></li>
            <li><a href = https://openclassrooms.com/fr/courses/8264046-construisez-un-site-web-a-laide-du-framework-symfony-7>Cours openclassrooms Symfony 7</a></li>
            <li><a href = https://www.youtube.com/watch?v=OVTnj3hcHuc&list=PLjwdMgw5TTLVDv-ceONHM_C19dPW1MAMD&index=4>Installing PHP on Windows (other than Xampp)</a></li>
            <li><a href = https://www.youtube.com/watch?v=gs-61l4Z32M> Better understand the MVC (Model View Controller) architecture</a></li>
            <li><a href = https://openclassrooms.com/fr/courses/8264046-construisez-un-site-web-a-laide-du-framework-symfony-7>Better understand the concept of router</a></li>
            <li><a href = https://symfony.com/doc/6.4/the-fast-track/fr/8-doctrine.html>Getting Started with Doctrine in Symfony</a></li>
        </br>
        </ul>
    <h2>Development</h2>
        <ul>
            <li><a href = https://symfony.com/bundles/ux-chartjs/current/index.html#using-plugins> Chart JS on Symfony 7 - plugins</a></li>
            <li><a href = https://ux.symfony.com/chartjs> Chart JS on Symfony 7 </a></li>
            <li><a href = https://www.youtube.com/playlist?list=PLBG4BJt8bo9rrPibhKLbpe-z1Dkk2VJjO>Youtube playlist on ChartJS</a></li>
            <li>Bubble chart avec chart js :
                <ul>
                    <li><a href = https://www.youtube.com/watch?v=SJxD4gYdX2A> Video 1</a></li>
                    <li><a href = https://www.youtube.com/watch?v=ySU7wbIEGjk> Video 2</a></li>
                    <li><a href = https://www.youtube.com/watch?v=7soD4PiWXuY> Video 3</a></li>
                    <li><a href = https://datavizcatalogue.com/methods/bubble_chart.html> Video 4</a></li>
                    <li><a href = https://www.chartjs.org/docs/latest/charts/bubble.html > Video 5</a></li>
                </ul>
            </li>
        <li>Cache management:
            <ul>
                <li><a href = https://www.dnd.fr/tout-savoir-sur-lutilisation-du-cache-dans-symfony>Cache management expliction</a></li>
                <li><a href = https://nouvelle-techno.fr/articles/29-la-gestion-du-cache-avec-symfony>Cache management expliction</a></li>
            </ul>
        </li>
        <li><a href = https://symfony.com/doc/current/doctrine.html#querying-with-sql>Queries from the Repository</a></li>
        </br>
        <li>Ajax
            <ul>
                <li><a href = https://www.youtube.com/watch?v=JT-Rq_16HOk> Ajax simple</a></li>
                <li><a href = https://symfony.com/legacy/doc/jobeet/1_4/fr/18?orm=Propel> Ajax simple video 2</a></li>
                <li><a href = https://www.youtube.com/watch?v=25IqZbLYoK0> Video ajax filtrage 1</a></li>
                <li><a href = https://www.youtube.com/watch?v=oG6VWCDK-Ns> Video ajax filtrage 2</a></li>
            </ul>
        </li>
        </ul>
    </br>
{% endblock %}
