{% extends 'base.html.twig' %}

{% block title %}Hello RecommandationsController!{% endblock %}

{% block body %}
<!--Sidebar-->
<div class = 'sidebar'>
</div>

    <!--Block title-->
    <div class = 'title_block'>
        <div>
            <h1>Title</h1>
            <h4>Subtitle</h4>
        </div>
        <input class="searchBar" type="text" placeholder="Search a game">
    </div>

<!--Main-container-->
    <div class="analysis-main-container">
        <section id="presentation">
            <div class="container px-3">
                <div class="row gx-4 justify-content-center">
                    <div id="presentation_text" class="col-lg-12">
                        <h2>Steam 2024 Promotion Campaign</h2>
                        <p class="lead">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section id="presentation">
            <div class="container px-3">
                <div class="row gx-4 justify-content-center">
                    <div id="presentation_text" class="col-lg-12">
                        <h2>Steam 2024 Promotion Campaign</h2>
                        <p class="lead">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section id="presentation">
            <div class="container px-3">
                <div class="row gx-4 justify-content-center">
                    <div id="presentation_text" class="col-lg-12">
                        <h2>Steam 2024 Promotion Campaign</h2>
                        <p class="lead">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
