/*Analysis page*/
.main-container-analysis-page {
    margin: 20%;
    width: 80%;

}

/*graphic containers*/
.graphFiveDim-container {
    width: 50%;
    height: auto;
}

.graphPeriodGenre-container {
    height: auto;
    display: flex;
    gap: 5%;
}

#graphPeriodGenre {
    width: 100%;
}

.radio-btn-period-container {
    width: 120%;
}