/*index - main*/
nav {
    background-color: #171d25;
}

div.container.ps-0 {
    margin-left: 0px;
    margin-right: 0px;
}

#img_navbar_steam {
    /*margin-left: -7%;*/
    margin-right: 7%;
}

#pages_name_pagetop {
    margin-left: 250px;
}

#site_information_icon_pagetop {
    width: 30px;
    height: auto;
    margin-left: 7%;
    margin-right: -7%;
}

body {
    padding-top: 100px;
    background-color: #1A2A3F;
    color: #c5c3c0;
    font-family: Verdana, sans-serif;
    width: 80%;
    margin: auto;
}

hr {
    width: 80%;
    margin-inline: auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.footer_link_text {
    color: #c5c3c0;
}

.home_problematic_icons_text_container {
    display: flex;
    justify-content: center;
}

.home_problematic_icons_text_element {
    text-align: center;
    margin: 20px;
}

.home_problematic_text {
    margin-top: 20px;
    text-align: justify;
}

.btn {
    width: 130px;
    border-radius: 70px;
    background-color: #147aff;
}

.btn-secondary {
    width: 130px;
    border-radius: 70px;
    background-color: white;
    color: #171d25;
    border-color: white;
}

footer {
    position: relative;
    bottom: 0;
    z-index: 2;
    /*Pour compenser le width du Body, on augmente la taille du footer + 
    deplacer le body sur la gauche pour qu'il occupe toute la largeur de la page*/
    width: 132.5%;
    margin-left: -20%;
}

.modal-content {
    border-radius: 50px;
    margin: auto;
}

.infoModal {
    text-align: center;
    width: 300px;
    margin: auto;
}

.modal-title {
    margin-top: 20px;
    color: black;
}

.modal-body {
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
}

/* Recommandations page */
/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171d25;
    padding-top: 20px;
}


.title_block {
    display: flex;
    height: 20%;
    width: 83%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #1A2A3F;
    margin-top: 5%;
    padding-top: 30px;
    padding-left: 20px;
    z-index: 2;
}


.recommandations-main-container {
    margin-top: 10%;
    /*17-5% pour compenser le body width à 80% + les 17% lié à la taille de la colonne de filtes*/
    margin-left: 12%;
    margin-right: -7%;
}

.searchBar {
    border-radius: 50px;
    padding-left: 10px;
    width: 30%;
    height: 22%;
    font-size: 80%;
    position: absolute;
    right: 0;
    margin-right: 5%;
    margin-top: 1%;
}



/* body : games */
.games-block-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    column-gap: 10%;
}

.game-block {
    width: 45%;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.game-img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.game-img {
    position: relative;
    width: 100%;
    border-radius: 50px;
}

.game-img-overlay {
    width: inherit;
    height: inherit;
    border-radius: 50px;
    position: absolute;
    background-color: #4A4A4A;
    z-index: 0;
    opacity: 0.65;
    text-align: center;
    display: flex;
}

.overlay-content {
    margin: auto;
    font-size: 100%;
}

.overlay-content-top {
    border-bottom: solid;
    padding-bottom: 0;
}

#overlay-left {
    border-right: solid;
}

#overlay-right {
    border-left: solid;
}

.game-img-container:hover .game-img-overlay {
    z-index: 1;
}

.game-img-overlay-success {
    min-width: inherit;
    min-height: inherit;
    width: inherit;
    height: inherit;
    border-radius: 50px;
    position: absolute;
    background-color: #4A4A4A;
    z-index: 1;
    opacity: 0.65;
    text-align: center;
    display: flex;
}

.check_icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}


#games_information_icon_recommandations {
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
}

/* Button to Dashboard */
#recommandations-to-dashboard-btn-container {
    text-align: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding-right: 5%;
    padding-bottom: 7%;
}

#recommandations-to-dashboard-btn {
    border-color: #1A2A3F;
}

#index-continue-btn {
    /*design*/
    width: 30px;
    height: 30px;
    background-color: #171d25;
    border-color: white;
    border-radius: 50px;
    /*placement*/
    margin-left: -15%;
    margin-top: -20%;

    padding-left: 10px;
    padding-top: 2px;
}


/*Analysis page*/
.main-container-analysis-page {
    margin: 20%;
    width: 80%;

}

/*graphic containers*/
.graphFiveDim-container {
    width: 50%;
    height: auto;
}

.graphPeriodGenre-container {
    height: auto;
    display: flex;
    gap: 5%;
}

#graphPeriodGenre {
    width: 100%;
}

.radio-btn-period-container {
    width: 120%;
}


/*Dashboard page*/

.sidebar-dashboard {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171d25;
    padding-top: 20px;
}

.games-block-container-dashboard {
    padding-top: 50px;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    column-gap: 10%;
}

.game-block-dashboard {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.game-img-overlay-success-dashboard {
    min-width: inherit;
    min-height: inherit;
    width: inherit;
    height: inherit;
    border-radius: 50px;
    position: absolute;
    background-color: #4A4A4A;
    z-index: 1;
    opacity: 0.65;
    text-align: center;
    display: flex;
}