/*Dashboard page*/

.gamelist-dashboard {
    height: 27.2vw;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171d25;
    margin-top: 10%;
    margin-left: 10%;
    border-top-left-radius: 50px;
    /*border-top-right-radius: 50px;*/
    overflow-y: auto;
    /* enable vertical scrolling */
}

.button_back_dashboard {
    width: 20%;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171d25;
    margin-top: 37.1vw;
    margin-left: 10%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.games-block-container-dashboard {
    padding-top: 2%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    column-gap: 10%;
}

.game-block-dashboard {
    width: 100%;
    height: 7vw;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.game-img-overlay-success-dashboard {
    width: 90%;
    height: 7vw;
    border-radius: 50px;
    position: absolute;
    background-color: #4A4A4A;
    z-index: 1;
    opacity: 0.65;
    text-align: center;
    display: flex;
}


.game-img-overlay-dashboard {
    width: 90%;
    height: 7vw;
    border-radius: 50px;
    position: absolute;
    background-color: #4A4A4A;
    z-index: 0;
    opacity: 0.65;
    text-align: center;
    display: flex;
}


.game-block-dashboard:hover .game-img-overlay-dashboard {
    z-index: 1;
}


.icon_recommandations_KPI{
    width : 25%;
    height : 25%;
}

.container_dashboard {
    display: flex;
    margin-left: 28%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#dashboard-to-recommandations-btn {
    border-color: #1A2A3F;
    margin: 5%;
    width: 100px;
}

#game-img-dashboard {
    height: 7vw;
}

#title_dashboard {
    position: fixed;
    margin-top: 1%;
}

.graph-container {
    margin-top: 2%;
    margin-bottom: 4%;
}

#premier_graph {
    flex: 1;
}

#deuxieme_graph {
    flex: 1;
}

.container_graph_dashboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement si nécessaire */
    height: 100%; /* Assurez-vous que le conteneur a une hauteur définie */
    gap: 100px;
}

.podium {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 5%;
    gap: 2%;
    margin-bottom: 5%;
}

#podium_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.podium-image {
    width: 100%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    justify-items: center;
}

.podium-image:hover {
    transform: scale(1.1);
}

.podium-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Modifier la taille des images pour chaque position */
.podium_class:nth-child(1) .podium-image {
    width: 120%;  /* 1er place: plus grand */
}

.podium_class:nth-child(2) .podium-image {
    width: 110%;  /* 2e place: moyen */
}

.podium_class:nth-child(3) .podium-image {
    width: 100%;  /* 3e place: plus petit */
}

.podium-medal {
    justify-items: center;
    width: 35%;
    height: 35%;
}