/*index - main*/
/* mets le fond en noir (notamment l'entête)*/
nav {
    background-color: #171d25;
}

/* permet que l'entête prenne bien toute la place (bug sur PC Mathis, espace à droite) */
div.container.ps-0 {
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

/* rajoute un espace à droite pour le logo steam */
/*#img_navbar_steam {
    margin-left: -7%;
    margin-right: 7%;
}*/

/* rajoute un espace à gauche à Home Analysis Recommandations */
/*#pages_name_pagetop {
    margin-left: 250px;
}*/

/* gère la taille du bouton information dans l'entête */
#site_information_icon_pagetop {
    width: 30px;
    height: auto;
    /*margin-left: 7%;
    margin-right: -7%;*/
}

/* gère la largeur du texte, la couleur du texte, et du fond des différentes pages */
body {
    padding-top: 100px;
    background-color: #1A2A3F;
    color: #c5c3c0;
    font-family: Verdana, sans-serif;
    width: 80%;
    margin: auto;
}

/* permet un écart entre Steam 2024 Promotion Campaign et Problematic */
hr {
    width: 85%;
    margin-inline: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#presentation {
    margin-inline: auto;
    width: 100%;
}

/* gère la couleur des liens du footer */
.footer_link_text {
    color: #c5c3c0;
}

.home_problematic_icons_text_container {
    display: flex;
    justify-content: center;
}

.home_problematic_icons_text_element {
    text-align: center;
    margin: 20px;
}

.home_problematic_text {
    margin-top: 20px;
    text-align: justify;
}

/* gère la taille du bouton start now dans Home */
.btn {
    width: 130px;
    border-radius: 70px;
    background-color: #147aff;
}

/* gère le bouton information pour voir correctement le reste derrière */
.btn-secondary {
    width: 130px;
    border-radius: 70px;
    background-color: white;
    color: #171d25;
    border-color: white;
}

/* permet de prendre toute la largeur (mais se place à la suite du body (qui est vide) et ne prends pas en compte Game List dans Recommandations) */
/* changer le z-index par 1 et mettre 2 à .sidebar (voir en dessous) */
footer {
    position: relative;
    bottom: 0;
    z-index: 2;
    /*Pour compenser le width du Body, on augmente la taille du footer + 
    deplacer le body sur la gauche pour qu'il occupe toute la largeur de la page*/
    width: 132.5%;
    margin-left: -20%;
    justify-items: center;
}

/* forme après clic du bouton information */
.modal-content {
    border-radius: 50px;
    margin: auto;
}

/* pareil ?? */
.infoModal {
    text-align: center;
    width: 300px;
    margin: auto;
}

.modal-title {
    margin-top: 20px;
    color: black;
}

.modal-body {
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
}

#presentation_text {
    width: 50%;
    align-items: start;
    margin-top: 10%;
}

#button_start_now {
    margin-left: 75%;
}

#image_jeux_home {
    height: 80%;
    border-radius: 50px;
}


#img_navbar_steam, .container{
    margin: 0;
    padding: 0;
}

/*footer, .container {
    margin: 0;
    padding: 0;
}*/

.navbar-expand-lg {
    justify-content: center;
}

.container_presentation {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: -10%;
    width: 100%;
}

#site_information_icon_pagetop{
    margin-left: 6%;
}

.body_center {
    margin-left: 11%;
}

#padding_next_page {
    
    padding-bottom: 5%;
}