{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<!-- Section - Presentation -->
    <section id="presentation">
        <div class="container px-3">
            <div class="row gx-4 justify-content-center">
                <div id="presentation_text" class="col-lg-12">
                    <h2>Steam 2024 Promotion Campaign</h2>
                    <p class="lead">As part of a final-year university project in the BUT Data Science program, we were asked to develop a complete web application. After several searches for relevant and valuable datasets, we decided to exploit a set of information linked to the Steam platform. Steam is an online content distribution platform, offering a wide range of video games. Passionate about this universe, we sought to approach this content in a professional manner.</p>
                </div>
            </div>
        </div>
    </section>
    <hr>
<!-- Section - Problematic -->
    <section id="problematic">
        <div class="container px-2">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-12">
                    <h2>Problematic</h2>
                    <p class="lead">As part of the marketing department of the famous distribution platform, we were asked to help our manager prepare the 2024 promotional campaign. The campaign is designed to reinforce Steam's position as leader in its business segment. To do this, it needs to identify which games have the greatest potential to meet the demands of increasingly demanding gamers.</p>
                </div>
                <div class="col-lg-12 home_problematic_icons_text_container">
                    <div class="home_problematic_icons_text_element">
                        <img src="{{asset("icons/video_game_icon.png")}}"></img>
                        <p class="lead home_problematic_text"></p>
                    </div>
                    <div class="home_problematic_icons_text_element">
                        <img src="{{asset("icons/statistics_icon.png")}}"></img>
                        <p class="lead home_problematic_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    </div>
                    <div class="home_problematic_icons_text_element">
                        <img src="{{asset("icons/promotion_sales_icon.png")}}"></img>
                        <p class="lead home_problematic_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    </div>
                </div>
                <a type="button" class="btn btn-primary ms-auto" href ="{{ path('app_analysis') }}">Start Now 🞂</a>
            </div>
        </div>
    </section>
{% endblock %}
